input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.border-transparent {
  border-color: transparent !important;
}
.table-hidden {
  z-index: -1;
}

#reader__scan_region img {
  display: none !important;
}
#reader__scan_region {
  min-height: auto !important;
}
#reader__scan_region video {
  width: 295px !important;
}
#html5-qrcode-anchor-scan-type-change {
  display: none !important;
}
